.flex {
  display: -webkit-box;
  display: flex;
}
.sidebar {
  height: calc(100vh - 85px);
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 320px;
  min-width: 320px;
  background-color: var(--mainLightGray);
  font-family: var(--mainFont);
  font-size: 18px;
}
.streamers-list {
  -webkit-box-flex: 1;
          flex-grow: 1;
  overflow-y: auto;
}
.streamer-info {
  padding: 20px;
  cursor: pointer;
}
.streamer-info:hover {
  background-color: var(--lightGray);
}
.streamer-avatar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.avatar-img {
  display: block;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
}
.streamer-name {
  width: 150px;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.streamer-name:hover {
  color: var(--blue);
}
.streamer-live {
  background-color: var(--red);
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
.streamer-viewers {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.info {
  border-top: 1px solid white;
  padding: 20px;
  background-color: var(--gray);
  background-clip: content-box;
  text-align: center;
}
.info-text {
  margin: 20px;
  line-height: 24px;
}
.info-text::-moz-selection {
  color: white;
  background-color: var(--orange);
}
.info-text::selection {
  color: white;
  background-color: var(--orange);
}
.info-icons {
  font-size: 30px;
  margin-bottom: 20px;
}
.info-icons .fab {
  color: black;
}
.info-icons .fab:hover {
  color: var(--blue);
}
.info-icons a:nth-child(even) {
  margin: 0 25px;
}

@media screen and (max-width: 1199px) {
  .sidebar {
    height: calc(100vh - 85px);
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 80px;
    min-width: 80px;
    background-color: var(--mainLightGray);
    font-family: var(--mainFont);
    font-size: 18px;
    overflow: hidden;
  }
  .streamers-list {
    overflow: hidden;
  }
  .info {
    display: none;
  }
}