@font-face {
  font-family: "lucida_consoleregular";
  src: url("../fonts/webfont.woff2") format("woff2"),
    url("../fonts/webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --orange: #f0a73e;
  --gray: #b9b9b9;
  --lightGray: #d8d8d8;
  --mainLightGray: #e8e8e8;
  --red: #fa0000;
  --mainFont: "lucida_consoleregular";
  --blue: #009dff;
}
