.header {
  height: 85px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.header .wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.flex-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header-logo {
  font-family: var(--mainFont);
  font-size: 32px;
  color: var(--orange);
  cursor: pointer;
}
.fa-cat {
  font-size: 32px;
  margin-right: 20px;
}
.header-search {
  max-width: 35%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
.header-search-form {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
input[type="search"] {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid var(--gray);
  border-radius: 5px 0 0 5px;
  opacity: 0.8;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
input[type="search"]:focus {
  outline: none;
  border: 3px inset #8794f0;
  color: black;
  opacity: 1;
}
.button-search {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background: var(--mainLightGray);
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--gray);
  border-left: none;
  cursor: pointer;
}
.button-search:hover {
  background: var(--lightGray);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-microphone {
  font-size: 32px;
  margin-left: 10px;
  color: var(--gray);
  cursor: pointer;
}
.fa-microphone:hover {
  color: #767676;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.fa-bell {
  font-size: 32px;
  color: var(--gray);
  margin: 0 15px 0 50px;
  cursor: pointer;
}
.fa-bell:hover {
  color: #767676;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-menu {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--orange);
  border-radius: 50%;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  border: 15px solid transparent;
  background-clip: padding-box;
}
.header-menu:hover {
  background-color: var(--mainLightGray);
}
.fa-paw {
  font-size: 20px;
}
.header-menu-hover {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  width: 215px;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
          box-shadow: 0px 0px 10px 0px #000000;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.header-menu:hover .header-menu-hover {
  display: block;
}
.header-menu-list {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.header-menu-item:last-child {
  border-top: 3px solid var(--gray);
  padding: 15px;
  color: var(--red);
}
.header-menu-item {
  padding: 15px;
  display: -webkit-box;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}
.header-menu-item:hover {
  background-color: var(--mainLightGray);
}
.header-menu-item .fas {
  margin: 0 15px;
}