.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 20px;
  overflow: hidden;
}
.category {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(12, auto);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  overflow-x: auto;
}
.category::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.category-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  background-color: var(--mainLightGray);
  font-family: var(--mainFont);
  font-size: 18px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.category-item:hover {
  background-color: var(--lightGray);
}
.category-item:nth-of-type(1) {
  background-color: var(--orange);
  color: white;
}
.carousel {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  margin: 100px 0;
}
.carousel img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.videos {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
}
.video-card {
}
.video-block {
  position: relative;
}
.video-block:hover .video-block_hover {
  opacity: 1;
}
.video-block_video {
  width: 100%;
  height: 100%;
}
.video-live {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: var(--mainFont);
  background-color: var(--red);
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.video-block_info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: var(--mainFont);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.video-block_hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.video-block_hover .fas {
  font-size: 40px;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}
.video-info {
  display: -webkit-box;
  display: flex;
  padding: 10px 5px 10px 0;
  -webkit-box-align: center;
          align-items: center;
}
.video-info_text {
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0 0 0 25px;
  font-family: var(--mainFont);
  width: 100px;
}
.video-info_title {
  font-size: 18px;
  cursor: pointer;
  width: calc(90%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-info_title:hover {
  color: var(--blue);
}
.video-info_author {
  font-size: 14px;
  color: var(--gray);
  cursor: pointer;
  width: calc(90%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-info_author:hover {
  color: var(--blue);
}
.video-info_options {
  align-self: baseline;
  font-size: 30px;
  line-height: 0;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  cursor: pointer;
}
.footer {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  font-family: var(--mainFont);
  font-size: 18px;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin: 30px 0;
}
@media screen and (max-width: 1023px) {
  .videos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .videos {
    grid-template-columns: 1fr;
  }
}